<section>
    <mat-card class="title mat-elevation-z3">
        <mat-card-title>Lista dos Clientes Cadastrados</mat-card-title>
        <mat-card-subtitle class="sub">Aqui você irá encontrar a lista de clientes que foram cadastrados</mat-card-subtitle>
        <table mat-table>
            <ng-container matColumnDef="position">
              <th mat-header-cell> Nome </th>
              <td mat-cell>Elaine</td>
            </ng-container>         
        </table>      
    </mat-card>
</section>
