main{
    min-height: 842px;
}
.nav-list{
    position: relative;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

}