<section>
    <mat-card class="title">
        <mat-card-title>Cadastro de Novos Clientes</mat-card-title>
        <mat-card-subtitle class="sub">Cadastre novos clientes preenchendo os campos necessarios para estar efetuando o cadastro.</mat-card-subtitle>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Nome Completo</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Interesse</mat-label>
                <input matInput>
            </mat-form-field>
        </form>
        <div class="buttons">
            <button mat-raised-button color="primary">Criar</button>
            <button mat-raised-button color="accent">Cancelar</button>
        </div>
        
    </mat-card>
</section>


